.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.container_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    width: 20%;
    cursor: pointer;
    padding-left: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative; /* Ensure this is relative */
}

.user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
}

.dropdowns {
    position: relative; /* Ensure this is relative */
    display: inline-block;
}

.dropdown-toggles {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Align below the button */
    right: 0; /* Align to the right edge of the button */
    background-color: var(--secondary-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: var(--accent-color);
}

.dropdowns:hover .dropdown-menu {
    display: block;
}
