.food-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.food-card {
    display: flex;
    gap: 50px; /* 50px gap between image and details */
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
}

.food-image {
    flex: 1;
    display: flex;
    height: 500px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.food-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.food-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.food-name {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: var(--h2-font-size);
    margin: 0 0 10px;
}

.user-names {
    font-size: var(--h3-font-size);
    font-weight: 600;
    margin: 0 0 10px;
}

.food-description {
    font-size: var(--h3-font-size);
    font-weight: 600;
    color: #666;
    margin: 0 0 20px;
    flex-grow: 1;
}

.button-container {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.update-button {
    font-weight: 900;
    font-family: var(--main-font);
    background-color: var(--accent-color);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: var(--primary-color);
    color: white;
}

.delete-button {
    font-weight: 900;
    font-family: var(--main-font);
    background-color: #ff5656;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: var(--primary-color);
    color: white;
}
